.tip {
  z-index: 2005;
  padding: 0;
}
.tip.tip-south {
  padding-bottom: 5px;
}
.tip.tip-east {
  padding-right: 5px;
}
.tip.tip-north {
  padding-top: 5px;
}
.tip.tip-west {
  padding-left: 5px;
}
.reload-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.section {
  position: relative;
}
#output {
  position: relative;
  overflow: auto;
  background-color: #fff;
}
#output.fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  zoom: 100% !important;
}
#interaction .dl-dialog,
#interaction .open-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px 30px;
  box-sizing: border-box;
  z-index: 2004;
}
#interaction .dl-dialog .close-btn,
#interaction .open-dialog .close-btn {
  line-height: 10px;
  padding: 5px;
}
#interaction .dl-dialog ul,
#interaction .open-dialog ul {
  padding: 0;
  margin: 0;
}
#interaction .dl-dialog ul li,
#interaction .open-dialog ul li {
  list-style: none;
  padding: 5px 10px;
}
#interaction .open-dialog table {
  padding: 0;
  margin: 0;
}
#interaction .open-dialog table tr {
  cursor: pointer;
}
#interaction .open-dialog table tr .name {
  margin-right: 20px;
}
#interaction .open-dialog table tr .date {
  margin-right: 20px;
}
#interaction .open-dialog table tr .delete-btn {
  color: #f00;
  font-weight: bold;
  line-height: 11px;
  padding: 9px;
  margin-left: 3px;
}
#interaction .open-dialog table tr .delete-btn:hover {
  background-color: #ddd;
}
#interaction .open-dialog table tr:hover {
  background-color: #ccc;
}
#interaction .dl-dialog {
  text-align: center;
}
#interaction .dl-dialog pre {
  text-align: left;
}
#interaction .dl-back,
#interaction .open-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2003;
  background-color: #999;
  opacity: 0.5;
  cursor: pointer;
}
#interaction .floater {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  text-align: center;
  z-index: 2001;
  background-color: #333;
  border-radius: 5px;
  color: #ddd;
}
#interaction .floater .minimize i {
  -webkit-transform: rotate(-45deg);
  zoom: 80%;
}
#interaction .floater.minimized {
  border-radius: 0;
  border-top-left-radius: 5px;
}
#interaction .floater.minimized .minimize i {
  -webkit-transform: rotate(135deg);
}
#interaction .floater.fullScreen {
  width: 520px;
  margin-left: -260px;
}
#interaction .floater.fullScreen.minimized {
  left: auto;
  right: 0;
  width: auto;
  margin-left: 0;
}
#interaction .floater .btn {
  padding: 6px 6px;
}
#interaction .floater .author-link {
  margin-right: 15px;
}
#interaction .floater .glyphicon {
  color: #fff;
}
#interaction .floater input {
  border: 2px solid #222;
  padding: 0 5px;
  background-color: #555;
  color: #fff;
}
#interaction .floater a {
  color: #fff;
  font-weight: bold;
}
#interaction .floater a:hover {
  text-decoration: none;
  color: #ddd;
}
.main {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main .mirror {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main .mirror .CodeMirror {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  position: absolute;
}
.main > .closed,
.main > div > .closed {
  display: none;
}
.main > div {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.main > div > div {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  border: 1px solid #000;
  flex-direction: column;
}

