.main
  .left-column
    .jade.section
      .reload-btn.btn.btn-default.btn-xs.active
        .glyphicon.glyphicon-refresh
      .syntax-error
      #jade-mirror.mirror
    .xon.section
      .reload-btn.btn.btn-default.btn-xs.active
        .glyphicon.glyphicon-refresh
      .syntax-error
      #xon-mirror.mirror
  .middle
    .output
      #output
    .less.section
      .reload-btn.btn.btn-default.btn-xs.active
        .glyphicon.glyphicon-refresh
      .syntax-error
      #less-mirror.mirror
