
link(rel="icon", href="favicon.png", type="image/png")
script(src='js/less.js')
// ace includes
script(src='ace/ace.js')

// bootstrap theme
link(rel='stylesheet', href='bootstrap/css/bootstrap.css')

// non-component javascript libs
script(src='js/angular.js')
script(src='js/jade.js')
script(src='js/jszip.js')

// my actual code
link(rel='stylesheet', href='js/index.css')
link(rel='stylesheet', href='css/index.css')
script(src='js/index.js')
style#injected-css

