!!!
html
  head
    title JazzUI

    // codemirror includes
    link(rel='stylesheet', href='codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='codemirror/theme/twilight.css')
    script(src='codemirror/lib/codemirror.js')
    script(src='codemirror/keymap/vim.js')
    script(src='codemirror/mode/javascript/javascript.js')
    script(src='codemirror/mode/jade/jade.js')
    script(src='codemirror/mode/less/less.js')

    // bootstrap theme
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')

    // non-component javascript libs
    script(src='js/angular.js')
    script(src='js/stylus.js')
    script(src='js/jade.js')
    script(src='js/jszip.js')

    // my actual code
    link(rel='stylesheet', href='js/index.css')
    link(rel='stylesheet', href='css/index.css')
    script(src='js/index.js')
    script.
      window.addEventListener('load', function () {
        require('jazzui')(document, window)
      })
    style#injected-css
  body
    #interaction(ng-controller="MainController")
      .floater(ng-class='{fullScreen: fullScreen, minimized: minimized}')
        span.main-bar(ng-hide='minimized')
          a(href="https://github.com/jazzui/jazzui") Jazzui
          | &nbsp;by&nbsp;
          a.author-link(href="http://jaredforsyth.com") Jared Forsyth
          input(ng-model="docTitle")
          .btn(ng-click="download()", data-toggle='tooltip', title='Download your prototype')
            i.glyphicon.glyphicon-cloud-download
          .btn(ng-click="open()", data-toggle='tooltip', title='Open a past prototype')
            i.glyphicon.glyphicon-folder-open
          .btn(ng-click="duplicate()", data-toggle='tooltip', title='Duplicate this prototype')
            i.glyphicon.glyphicon-edit
          .btn(ng-click="toggleFullScreen()", data-toggle='tooltip',
               title='View the Prototype Full-Screen')
            i(class="glyphicon {{ fullScreen ? 'glyphicon-resize-small' : 'glyphicon-fullscreen' }}")
          span.zoom-ctrl(ng-hide='fullScreen')
            .btn(ng-click="zoomIn()", data-toggle='tooltip', title='Zoom In')
              i.glyphicon.glyphicon-zoom-in
            span.zoomLevel {{ zoomLevel }}%
            .btn(ng-click="zoomOut()", data-toggle='tooltip', title='Zoom Out')
              i.glyphicon.glyphicon-zoom-out
        .btn.minimize(ng-click="toggleMinimized()", data-toggle='tooltip', title='Minimize', ng-show='fullScreen')
          i.glyphicon.glyphicon-arrow-down(ng-class="{ minimized : 'minimized' }")
      .open-back(ng-show='showOpenDialog', ng-click='closeOpenDialog()')
      .open-dialog(ng-show='showOpenDialog')
        button.btn.btn-default.close-btn.pull-right(ng-click='closeOpenDialog()') &times;
        h4 Select a Document to Open
        ul
          li(ng-repeat="doc in docs", ng-click="openDoc(doc)")
            .pull-right.delete-btn(ng-click="removeDoc(doc)") &times;
            strong.name {{ doc.name }}
            em.date {{ doc.modified.toLocaleString() }}
            em.hash {{ doc.hash }}
          li(ng-hide="docs.length") No documents saved on this browser
      .dl-back(ng-show='showDlDialog', ng-click='closeDlDialog()')
      .dl-dialog(ng-show='showDlDialog')
        button.btn.btn-default.close-btn.pull-right(ng-click='closeDlDialog()') &times;
        h4 Download your prototype
        strong Dependencies
        ul
          li gnu make
          li nodejs
          li component(1)
          li stylus
          li jade
        .instructions
          pre
            code.bash.
              // this will download bootstrap & angular,
              // compile your stylus & less files
              // and bundle your js
              $ make build
              // use python's built in static file server
              $ make serve
        p
          |Then open <a href="http://localhost:8000">localhost:8000</a>
          != " and you're there!"
        a#download-link.btn.btn-primary(download="prototype.zip") Download the Zip
    .main
      .left-column
        .jade.section
          .reload-btn.btn.btn-default.btn-xs.active
            .glyphicon.glyphicon-refresh
          #jade-mirror.mirror
        .xon.section
          .reload-btn.btn.btn-default.btn-xs.active
            .glyphicon.glyphicon-refresh
          #xon-mirror.mirror
      .middle
        .output
          #output
        .stylus.section
          .reload-btn.btn.btn-default.btn-xs.active
            .glyphicon.glyphicon-refresh
          #stylus-mirror.mirror
