!!!
html
  head
    title JazzUI

    include includes.jade
    script.
      window.addEventListener('load', function () {
        require('jazzui')(document, window, true)
      })
  body
    include editors.jade
    include interaction.jade

