
#output
  position: relative
  overflow: auto

.main
  display: flex
  flex-flow: row
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  .mirror
    width: 100%
    height: 100%
    box-sizing: border-box
    resize: none
    border: none
    flex: 1
    display: flex
    flex-direction: column

    .CodeMirror
      flex: 1

  > .closed,
  > div > .closed
    display: none

  > div
    flex: 1
    display: flex
    flex-flow: column

    > div
      flex: 1
      display: flex
      box-sizing: border-box
      border: 1px solid black
      flex-direction: column

